<div class="container mt-5">
  
    <h2>Display Student List from Json File ----</h2>
    Filter Names (Starts With): <input type="text"   [(ngModel)]="filterTxt" >
    <table class="table table-striped">
      <thead>
          <tr>
            <th>Id</th>
            <th>Name</th>
            <th>Username</th>
            <th>Email</th>
            <th>DOB</th>
          </tr>
      </thead>
      <tbody>
        <tr *ngFor="let user of students | filterUserPipe:filterTxt">
          <td>{{ user.id }}</td>
          <td>{{ user.name | uppercase}}</td>
          <td>{{ user.username | lowercase}}</td>
          <td>{{ user.email }}</td>
          <td>{{ user.dob | date : 'dd/MM/YYYY'}}</td>
        </tr>
      </tbody>
    </table>
  </div>